NEXT_PUBLIC_SUPABASE_URL=https://ikolsluvweotgtgidlaq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlrb2xzbHV2d2VvdGd0Z2lkbGFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEwNDI2OTgsImV4cCI6MjEwNjYxODY5OH0.3JJDZTctcth3g6WWA_JgTjEY2WLg9UQXGSyS9DPY7Eg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlrb2xzbHV2d2VvdGd0Z2lkbGFxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTA0MjY5OCwiZXhwIjoyMTA2NjE4Njk4fQ.UeWJmylZYQdosLl0Cp5pz9PmeY5w8_MJeOYeQzWyLS4
